<DIV CLASS="post" ID=</jees-post_string_id>>
    <DIV CLASS="post_header">
        <H3><A CLASS="post_title_url" HREF=</jees-post_url>></jees-title></A></H3>
        <DIV CLASS="post_author">
            </jees-author>
        </DIV>
        <DIV CLASS="post_time">
        </jees-date> </jees-time>
        </DIV>
    </DIV>
    <DIV CLASS="post_content">
        </jees-content>
    </DIV>
</DIV>
