body {
    text-align:         center;
    font-family:        "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color:   #22252C;
    color:              black;
    overflow-y:         scroll;
}

div.center_block {
    margin:             auto;
    text-align:         left;
    min-width:          600;
    max-width:          1200;
    width:              60%;
    background-color:   white;
    padding:            4px;
    overflow:           hidden;
}

div.post {
    background-color:   #22252C;
    color:              white;
    border:             1px solid white;
    margin-bottom:      6px;
    border-radius:      5px;
}

div.post_header {
    color:              white;
    font-size:          small;
    margin:             2;
    margin-top:         -13;
}

div.post_content {
    text-align:         justify;
    padding:            15;
    background-color:   white;
    color:              black;
}

div.post_code {
    border-radius:      4px;
    background-color:   black;
    color:              white;
    font-family:        monospace;
}

div.menu_button {
    position:           relative;
    background-color:   #22252C;
    margin:             auto;
    padding:            2px;
    display:            inline-block;
    border-radius:      5px;
    color:              white;
}

div.menu_button:hover {
    background-color:   black;
    color:              white;
}

a.menu_button {
    color: white
}

div.project_summary {
    padding:            0;
    background-color:   #EBEBEB;
    margin-bottom:      4px;
    width:              100%;
    display:            inline-block;
    border-radius:      5px;
}

div.project_summary_text {
    width:          78%;
    align:          top;
    float:          left;
    vertical-align: top;
    margin:         0;
    padding:        5;
}

div.project_summary_links {
    position:   relative;
    bottom:     0;
}

div.project_summary_imgs {
    width:          18%;
    float:          right;
    text-align:     right;
    vertical-align: top;
    padding:        4px;
}

img.project_summary_thumbnail {
    max-width: 100%;
}

img.article_thumbnail {
    max-width:  256;
    max-height: 156;
}

div.about_item {
    padding:            15;
    background-color:   #EBEBEB;
    margin-bottom:      4px;
    border-radius:      5px;
}

@font-face {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif; 
}

h1.site_title {
    color: black;
}

h2.site_sub_title {
    color: #444;
    font-size: medium
}

div.post_author {
    display:    inline-block;
    color:      white;
}

div.post_time {
    display:    inline-block;
    float:      right;
    color:      white;
}

a.post_title_url {
    text-decoration:    none;
    color:              white;
}

ul li {
    margin-bottom: 0px;
}

table, th, td {
    text-align: left;
    border:     1px solid black;
}
